
body
    font-family: "Open sans", sans-serif
   

   
h1
    margin-top: 5%
    color: #646161
    weight: 300
    font-size: 30px

figure 
    margin: auto

.content 
    article
        padding: 100px 0
        max-width: 640px
        margin: 0 auto
        text-align: center
        
img
    max-width: 100%
.back-first
    position: relative
    height: 700px
    width: 100%
    background: 
        image: url(../images/without1.png)
        size: auto 1020px
        position: top center
        attachment: fixed
        repeat: no-repeat
    overflow: hidden   
      
   

/*.logo
    height: 100%
    width: 100%
    background: 
        image: url(../images/logo_2.svg)
        position: center
        size: auto 630px
        repeat: no-repeat
        position: right bottom
    position: absolute
    top: 27%
    right: -19%
    */

.al
    width: 999px
    height: 100%
    background:
        image: url(../images/al1.png)
        size: auto 300px
        repeat: no-repeat
        position: right 
    position: absolute
    left:  27%
    top: -4%

.hand
    height: 100%
    width: 100%
    background: 
        image: url(../images/with.png)
        position: center
        size: auto 950px
        repeat: no-repeat
    position: absolute
    top: 18%
    right: -3%
    
    
    
  
.logos-pics
    figure
        margin-bottom: 20px
        position: relative
        opacity: 0
        transform: translateX(-20px)
        transition: all 0.3s ease-in-out

        &.show
            opacity: 1
            transform: translateX(0px)

