body {
  font-family: "Open sans", sans-serif; }

h1 {
  margin-top: 5%;
  color: #646161;
  weight: 300;
  font-size: 30px; }

figure {
  margin: auto; }

.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

img {
  max-width: 100%; }

.back-first {
  position: relative;
  height: 700px;
  width: 100%;
  background-image: url(../images/without1.png);
  background-size: auto 1020px;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden; }

/*.logo
 * height: 100%
 * width: 100%
 * background: 
 *     image: url(../images/logo_2.svg)
 *     position: center
 *     size: auto 630px
 *     repeat: no-repeat
 *     position: right bottom
 * position: absolute
 * top: 27%
 * right: -19%
 */
.al {
  width: 999px;
  height: 100%;
  background-image: url(../images/al1.png);
  background-size: auto 300px;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  left: 27%;
  top: -4%; }

.hand {
  height: 100%;
  width: 100%;
  background-image: url(../images/with.png);
  background-position: center;
  background-size: auto 950px;
  background-repeat: no-repeat;
  position: absolute;
  top: 18%;
  right: -3%; }

.logos-pics figure {
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease-in-out; }
  .logos-pics figure.show {
    opacity: 1;
    transform: translateX(0px); }

.back-two {
  height: 640px;
  background-image: url(../images/back3.jpg);
  background-size: auto 640px;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 100px;
  border-radius: 50%; }
