
body
    font-family: "Open sans", sans-serif
   

   
h1
    margin-top: 5%
    color: #ccc
    weight: 300
    font-size: 24px


.content 
    article
        padding: 100px 0
        max-width: 640px
        margin: 0 auto
        text-align: center


.back-first
    position: relative
    height: 630px
    width: 100%
    background: 
        image: url(../images/without1.png)
        size: auto 1020px
        position: top center
        attachment: fixed
        repeat: no-repeat
    overflow: hidden    

.logo
    height: 100%
    width: 100%
    background: 
        image: url(../images/logo_2.svg)
        position: center
        size: auto 690px
        repeat: no-repeat
        position: right bottom
    position: absolute
    top: 25%
    right: -13%
    

.al
    width: 999px
    height: 100%
    background:
        image: url(../images/al.png)
        size: auto 400px
        repeat: no-repeat
        position: right top 
    position: absolute
    left:  35%
    top: -2%

.hand
    height: 100%
    width: 100%
    background: 
        image: url(../images/with.png)
        position: center
        size: auto 950px
        repeat: no-repeat
    position: absolute
    top: 18%
    right: -3%
  

