doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Awesome logo
        
        link(rel="stylesheet", href="../css/normalize.css")
        link(rel="stylesheet", href="../css/skeleton.css")
        link(rel="stylesheet", href="../css/layout1.css")
        
    body

        header.back-first
            .al
            .logo
            .hand

        section.content

            article
                h1 Get an awesome logo 

                hr


                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente totam pariatur similique fugiat voluptates quaerat, ea voluptatum, iste omnis ex nulla quam! Quos labore sequi aut recusandae doloremque dolore!

                hr

                .logos-pics
                    .row.img-row
                        figure.columns.four
                            img(src="../images/logo3.jpg")

                        figure.columns.four
                            img(src="../images/logo3.jpg")

                        figure.columns.four
                            img(src="../images/logo3.jpg")

                    .row.img-row
                        figure.columns.four
                            img(src="../images/logo1.png")

                        figure.columns.four
                            img(src="../images/logo1.png")

                        figure.columns.four
                            img(src="../images/logo1.png")


                    .row.img-row
                        figure.columns.four
                            img(src="../images/logo1.png")

                        figure.columns.four
                            img(src="../images/logo1.png")

                        figure.columns.four
                            img(src="../images/logo1.png")



                h1 blablabla
                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente totam pariatur similique fugiat voluptates quaerat, ea voluptatum, iste omnis ex nulla quam! Quos labore sequi aut recusandae doloremque dolore!

                hr
                .back-two
            div(style="height: 2000px")


        script(src="../js/jquery-3.3.1.min.js")
        script(src="../js/fonctions.js")
