doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Fatima YOUCEF
        
        link(rel="stylesheet", href="../css/normalize.css")
        link(rel="stylesheet", href="../css/skeleton.css")
        link(rel="stylesheet", href="../css/layout1.css")
        
    body

        header.back-first
            h1 Hello there..
            h2 I'am Fatima YOUCEF <br> <em> I love to design & code </em>  <br> <br> <space> And </space> <br> <span> I'm passioante about AI </span>
            .al
            .logo
            .hand

        section.content

            article
                h1 About me 

                hr


                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente totam pariatur similique fugiat voluptates quaerat, ea voluptatum, iste omnis ex nulla quam! Quos labore sequi aut recusandae doloremque dolore!

                


                h1 Experience & Education
                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente totam pariatur similique fugiat voluptates quaerat, ea voluptatum, iste omnis ex nulla quam! Quos labore sequi aut recusandae doloremque dolore!

                

                h1 My projects
                hr

                .logos-pics
                    .row.img-row
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo3.jpg")
                                figcaption lorem lorem - <strong> lorem </strong>                            

                        figure.columns.four
                            a(href="#")
                            img(src="../images/logo3.jpg")
                            figcaption lorem lorem - <strong> lorem </strong>
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo3.jpg")
                                figcaption lorem lorem - <strong> lorem </strong>
                    .row.img-row
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo2.jpg")
                                figcaption lorem lorem - <strong> lorem </strong>
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo2.jpg")
                                figcaption lorem lorem - <strong> lorem </strong>
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo2.jpg")
                                figcaption lorem lorem - <strong> lorem </strong>

                    .row.img-row
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo1.png")
                                figcaption lorem lorem - <strong> lorem </strong>
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo1.png")
                                figcaption lorem lorem - <strong> lorem </strong>
                        figure.columns.four
                            a(href="#")
                                img(src="../images/logo1.png")
                                figcaption lorem lorem - <strong> lorem </strong>


                h1 Skills
                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente totam pariatur similique fugiat voluptates quaerat, ea voluptatum, iste omnis ex nulla quam! Quos labore sequi aut recusandae doloremque dolore!

                h1 My blog posts
                hr

                p And I also like to blog sometime about what I'm doing, learning and descroving 
                .blogs.row
                    .post.columns.four.post1
                        h5 Post title
                        img(src="../images/1.jpg", alt="", srcset="")
                        p Lorem ipsum dolor sit amet.
                        p: a.button(href="") Read More
                    .post.columns.four.post2
                        h5 Post title
                        img(src="../images/2.jpg", alt="", srcset="")
                        p Lorem ipsum dolor sit amet.
                        p: a.button(href="") Read More
                    .post.columns.four.post3
                        h5 Post title
                        img(src="../images/3.jpg", alt="", srcset="")
                        p Lorem ipsum dolor sit amet.
                        p: a.button(href="") Read More


                
                .back-two
                    .love
                        .text Feel free to 
                            strong <span> contact me <span>
                            a(href="").contact now
                            h

            
        footer
            .row.footer-stuff
                .columns.three
                    strong Find me on
                    ul
                        li: a(href="") Twitter
                        li: a(href="") Instagram
                        li: a(href="") Medium 
                        li: a(href="") Google+
                .columns.three
                    strong Or 
                    ul
                        li: a(href="") github 
                        li: a(href="") linkdIn 
                        li: a(href="") Youtube
                        li: a(href="") Dev.to 
                                    
                .columns.six
                    p <strong> I would also like to say </strong> Lorem ipsum dolor sit amet consectetur adipisicing elit lorem. Impedit sapiente totam pariatur similique fugiat voluptates quaerat, ea voluptatum, iste omnis ex nulla quam!

                              
            


        script(src="../js/jquery-3.3.1.min.js")
        script(src="../js/fonctions.js")
